.about {
    background: url(../images/daan-stevens-282446-unsplash.jpg) center center
        fixed;
    background-size: cover;
    min-height: 100vh;
    color: #f0f0f0;

    .container {
        padding-top: 80px;
    }

    .section-title {
        margin-bottom: 50px;
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
        color: rgb(255, 255, 255);
    }

    p, strong {
        color: #ddd;
    }

    .column-s {
        background-color: rgba($color: #000000, $alpha: 0.8);
        border-radius: 8px;
        margin: 10px 30px;
        padding: 15px 25px;
        box-shadow: 4px 9px 40px 2px rgba(255, 255, 255, 0.1);

        p {
            margin-bottom: 5px;
        }

        .title-s {
            font-weight: 500;
            color: #ddd;
            margin-bottom: 5px;
            font-size: 1.2em;
        }

        .subtitle-s {
            font-weight: bold;
            color: #fff;
            margin-bottom: 5px;
            font-size: 2em;
        }
    }
}
