.fasilitas {

    background-color: #f8f8f8;

    img {
        height: 80px;
    }

    .image-bottom {
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        margin-top: 5vh;
    }
}