// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Bitter|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

// Custom font-face
@font-face {
    font-family: 'minecrafterregular';
    src: url('../fonts/minecrafter.reg-webfont.woff2') format('woff2'),
         url('../fonts/minecrafter.reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'AGENCYB';
	src: url('../fonts/AGENCYB.woff') format('woff');
}