.hackathon-title {
    
    margin: 0;
    padding: 0;

    .hackathon {
        font-family: 'minecrafterregular';
        font-size: 10.5vw;
        font-style: italic;
        line-height: 0.6;
        text-align: center;
        color: #EF233C;
    }

    .uajy {
        font-family: 'AGENCYB', sans-serif;
        font-style: normal;
        font-weight: 700;      
        font-size: 8vw;
        letter-spacing: 10px;
        font-style: italic;
        text-align: center;
        color: #f8f8f8;
    }

    .ifest {
        font-family: 'AGENCYB', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 5vw;
        text-align: center;
        text-indent: 3rem;
        color: #f8f8f8;
    }
}

.hero-here {
    background-color: #000;
    min-height: 100vh;

    position: relative;

    .scrollmore {
        color: #cecece !important;
        position: absolute;
        bottom: 15px;
        left: 50%;
        margin: 0 0 0 -56px; 

        p {
            margin: 0;
            padding: 0;
        }
    }

    .hero-here-container {
        padding-top: 80px;

        .sub-quotation {
            margin-top: 15px;
            font-weight: 400;
            font-size: 1.5em;
            color: #f8f8f8;

            a {
                text-decoration: none;
            }
        }

    }
}