.hackathon-title {
    z-index: 99;
    margin: 0;
    padding: 0;

    .hackathon {
        font-family: 'Bowlby One SC', cursive;
        font-style: italic;
        line-height: 0.6;
        text-align: center;
        color: #ef233c;
    }

    .uajy {
        font-family: 'AGENCYB', sans-serif;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 10px;
        font-style: italic;
        text-align: center;
        color: #f8f8f8;
    }

    .ifest {
        font-family: 'AGENCYB', sans-serif;
        font-style: italic;
        font-weight: normal;
        text-align: center;
        color: #f8f8f8;
    }
}

.hero-here {
    min-height: 100vh;

    position: relative;

    .scrollmore {
        color: #cecece !important;
        position: absolute;
        bottom: 15px;
        left: 50%;
        margin: 0 0 0 -56px;

        p {
            margin: 0;
            padding: 0;
        }
    }

    .hero-here-container {
        padding-top: 80px;

        .sub-quotation {
            margin-top: 15px;
            font-weight: 400;
            font-size: 1.5em;
            color: #f8f8f8;

            a {
                text-decoration: none;
            }
        }
    }
}

.background {
    background-color: #000;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (min-width: 1201px) {
    .hackathon {
        font-size: 128px;
    }
    .uajy {
        font-size: 90px;
    }
    .ifest {
        font-size: 80px;
    }
}

@media screen and (max-width: 1200px) {
    .hackathon {
        font-size: 12.3vw;
    }
    .uajy {
        font-size: 8vw;
        margin-bottom: 10px;
    }
    .ifest {
        font-size: 7vw;
    }
}
