.button--container {
    font-family: 'Mukta', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;

    button {
        height: 70px;
        width: 250px;
        background-color: #fff;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        //border: none;
        margin-bottom: 30px;
        //font-size:3em;
        border: 0;
        border-radius: 40px;
        vertical-align: middle;
        text-decoration: none;
        padding: 10px 20px;
        font-size: inherit;
        font-family: inherit;
        transition: all 0.25s ease;
    }

    button:hover {
        background-color: rgb(32, 100, 226);
        border: 0;
        color: #fff;
        transition: all 0.25s ease;
    }
}

.alt-button-text {
    color: #f0f0f0;
    font-size: 1.25rem;
    font-family: 'Encode Sans', sans-serif;
}

.join {
    background: #0d1b33;
}
