@charset "utf-8";

@import '../node_modules/bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css?family=Roboto|Gloria+Hallelujah|Open+Sans|Oswald:700');

body {
    background-color: #f8f8f8;
}

.box-uploader {
    max-width: 700px !important;
    margin: 0 auto;
}

.title-area {
    margin: 70px auto;
}

.padding0 {
    margin-bottom: 5px !important;
}

.nama-uploader {
    margin-left: 30px;
}

.kirim {
    margin: 20px auto auto;
    width: 100px;
    background-color: #245ec6;
    transition: 0.3s;
    color: white !important;
}

.kirim:hover {
    background-color: #2b2b2b;
    transition: 0.3s;
}

.file {
    margin: 20px auto;
}

/* hero-title-big */
.hero-title-big {
    font-size: 40pt;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin: 20px auto;
    line-height: 50px;
    font-family: 'Oswald', sans-serif;
}

.box {
    max-width: 800px;
    margin: auto auto;
    border-radius: 8px !important;
    box-shadow: 4px 9px 40px 2px rgba(7, 16, 75, 0.1);
    border: solid 1px #e8e8e8;
    background: #fff;
}

.uploader {
    h1 {
        font-weight: bold;
        font-size: 2em;
        padding-bottom: 5px;
    }
}

.title-w {
    h1 {
        font-size: 3em;
        font-weight: bold;
        padding-bottom: 0;
    }

    p {
        font-size: 1.5em;
        font-weight: bold;
    }
}

.column-w {
    min-width: 580px;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}

.team-information {
    margin-top: 10px;
    h1 {
        font-weight: bold;
        font-size: 1.2em;
        color: #494949;
    }

    .univ {
        font-weight: bold;
    }
}

.uploader-w {
    padding: 0;
}

.logout-button {
    margin: 20px auto;
}

.cont-area-peserta {
    max-width: 800px;
    margin: auto;
}

.logout-column {
    right: 0;
}

.a {
    padding-bottom: 0;
}

.inside {
    max-width: 700px;
    margin: auto;
}

.topbar {
    background-color: #245ec6;
    clear: both;

    &--container {
        margin: auto;
        padding-bottom: 30px;
    }

    &--teaminfo {
        padding-top: 10px;
        margin-bottom: 20px;
        color: #cfcfcf;
        display: table;

        h1 {
            font-size: 1.2em;
            font-weight: bold;
        }

        .univ {
            font-weight: bold;
        }

        &--avatar {
            padding-right: 30px;
            display: table-cell;
            vertical-align: middle;
            img {
                height: 64px;
            }
        }

        &--info {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &--title {
        padding-top: 30px;

        h1 {
            font-weight: bold;
            font-size: 2em;
            color: #ffffff;
        }

        p {
            font-weight: 500;
            font-size: 1.5em;
            color: #cccccc;
        }
    }
}

.trans {
    background-color: #245ec6;
    height: 30vh;
}

.content {
    margin: auto;
    margin-top: -30vh;
    .box {
        max-width: 750px;
    }

    .spacer {
        margin: auto 80px;
    }
}

.logout-btn {
    position: fixed;
    top: 50px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    width: 40px;
    height: 100px;
    background: rgb(0, 11, 41);
    color: rgb(173, 173, 173);
    z-index: 15;
    border-radius: 3px 0px 0px 3px;

    a {
        margin: auto 10px;
        margin-top: 20px;
        writing-mode: tb-rl;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
    }

    a:visited {
        text-decoration: none;
    }
}

@media screen and (max-width: 950px) {
    .inside {
        margin: auto 80px;
    }
}
