@charset "utf-8";

<<<<<<< HEAD
=======
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

>>>>>>> ed4588a4cd8a406552f2d8f81a6f5c7463141407
// Set your brand colors
$green: #2CA451;
$light-blue: #C2E4EA;
$dark-gray: #343739;
$dim-red: #844B56;
$dark-khaki: #9BAB44;

// Update Bulma's global variables
$grey-dark: $dark-gray;
$primary: $green;
$link: $dim-red;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma component variables
$body-background-color: $light-blue;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/section.sass";