@import "../node_modules/@material/ripple/dist/mdc.ripple.min";
@import "../node_modules/@material/button/dist/mdc.button";

@import url('https://fonts.googleapis.com/css?family=Bitter|Staatliches');

// Variables

// SI SISI IIIII

$section-title :'Staatliches', cursive;
$section-subtitle: 'Bitter', serif;


.button-download-rulebook {
    margin: 20px 20px;
    height: 50px;
    vertical-align: middle;
}

.button-text-data {
    margin: auto 5px;
}

.button-icon {
    margin: auto 5px;
    font-size: 1.5em;
}

.section {
    margin: 0;
    //background-color: #000;
    min-height: 100vh;

    h1, p {
        margin: 0;
    }

    &--title {
        font-family: $section-title;
        margin: 20px 10px;
        margin-bottom: 0px;
        padding: 0;
        font-size: 2em;
    }

    &--sub-title {
        font-family: $section-title;
        margin: auto 10px;
        padding: 0;
        font-size: 2em;
    }
}

.container {
    padding: 100px 10vw;
}

.syarat-ketentuan {
    .items {
        ul {
            list-style-type: none;
        }
        li {
            margin: 5px auto;
            font-size: 1.25em;

        }
    }
}