[submodule "js/novacancy.js"]
	path = js/novacancy.js
	url = https://github.com/chuckyglitch/novacancy.js.git
[submodule "js/vertical-timeline"]
	path = js/vertical-timeline
	url = https://github.com/RyanFitzgerald/vertical-timeline.git
[submodule "js/smooth-scroll"]
	path = js/smooth-scroll
	url = https://github.com/cferdinandi/smooth-scroll.git
[submodule "js/particles.js"]
	path = js/particles.js
	url = https://github.com/marcbruederlin/particles.js.git
