/* 
    
slider.scss
Slider Stylesheet File 
contains:
    1. main
    2. normalize

*/

@import "../main.scss";
@import "../normalize";

/* Slider Stylesheet File */

.slider {
    min-height: 100vh;
    background-color: cadetblue;
}

.main {
    display: flex;
    flex-direction: row;
}

.fstbox, .sndbox, .trdbox{
    position: relative;
    height: 400px;
    width: 270px;
    background-color: burlywood;
    border-radius: 25px;
    margin: 20px 30px;
}
